<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Autoclicker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Blade_Ball_Things.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <Autoclicker.Properties.Settings>
            <setting name="Keybind" serializeAs="String">
                <value>E</value>
            </setting>
            <setting name="CPSValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Topmost" serializeAs="String">
                <value>False</value>
            </setting>
        </Autoclicker.Properties.Settings>
        <Blade_Ball_Things.Properties.Settings>
            <setting name="Keybind" serializeAs="String">
                <value>E</value>
            </setting>
            <setting name="CPSValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Topmost" serializeAs="String">
                <value>False</value>
            </setting>
        </Blade_Ball_Things.Properties.Settings>
    </userSettings>
</configuration>
